*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content:"";
    display: table;
    clear:both;
}

.contenitore{
    width: 90%;
    margin: 0 auto;
}

header{
    height: 20%;
    margin-bottom: 3%;
}



#set_logo{
    width: 150px;
    height: 60px;
    display: inline-block;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
    font-family: arial;
    margin-right: 20px;
    color: rgb(69, 192, 151);
}



.blocco_immagine{

    position:relative;
    height: 400px;
    background-image: url("/img/banner.jpg") ;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-size:cover;
    background-position:center;
    
    
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    border-radius: 5px;
}

.sotto_blocco_imm1{
    position: absolute;
    
    width: 60%;
    left: 5%;
    bottom: 5%;
    font-family: fantasy;
    color:red;
}



.leadership{
    height: 10%;
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3%;
    padding-bottom: 3%;
}

div.leadership > h6{
    color:red;
}



.center_container{
  
    height: 50%;
    background-color:white;
}


.lateral_img{
    width: 100%;
    height: 120px;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.left_block{
    float: left;
    background-color: darkgreen;
    width: 25%;
    height: 100%;
}
#left_img{
    background-image: url("/img/img-1.jpg") ;
}





.right_block{
    float: left;
    background-color: red;
    width: 25%;
    height: 100%;
}

#right_img{
    background-image: url("/img/img-3.jpg") ;
}



.center_block{
    float: left;
    background-color:yellow;
    margin-left: 2%;
    margin-right:2%;
    height: 100%;
    width: 46%;
    

}
.center_img{
    background-image: url(/img/banner-2.jpg);
    
    width: 100%;
    height: 120px;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 5px;
}








footer{
    height: 10%;
    
    background-color:chartreuse;
}
